<link rel='stylesheet' href='/stylesheets/style.css' />
		
<a href="/">Cancel</a>
<form method="POST" action="/new">
	<h2>Enter Your Message</h2>
	<input type="text" name="author" id="author" placeholder="User Name" required>
	<input type="text" name="message" id="message" placeholder="Enter your message..." required>	
	<input type="submit" valud "Submit">
</form>         
